.lead-impact {
  /* width: 100vw; */
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  padding: 64px 24px;
  display: flex;
  justify-content: center;
  /* background: linear-gradient(180deg, #ede9ff 0%, #f7f2ff 50%, #ede9ff 100%); */
}

.lead-impact__content {
  /* width: 100%;
  max-width: 1300px; */
background: radial-gradient(58.7% 83.24% at 50% 87.66%, #7A2BA3 0%, #4E156B 100%);

  padding: 40px clamp(24px, 4vw, 64px);
  color: #fff;
  /* text-align: center; */
  position: relative;
  width: 100vw; 
  border-radius: 0;
  margin: 84px;
}

.lead-impact__content::before {
  content: "";
  position: absolute;

  top: -211px;              /* 🔥 margin ke exact upar */
  left: 50%;
  transform:translateX(-51%) rotateX(-79deg) translateY(-22px);

  width: min(1000px, 94%);
  height: 131px;

  background: radial-gradient(
    50% 20% at 50% 50%,
    rgba(0, 0, 0, 0.4) 0%,
    rgba(0, 0, 0, 0) 100%
  );

  pointer-events: none;
  z-index: 0;
}



.lead-impact__title {
font-size: 32px;
  font-weight: 558;
  margin: 0 0 32px;
  letter-spacing: 0.4px;
  font-family: "sora" !important;
  line-height: 100%;
  color: #FFFFFF;
  text-align: center;
}

.lead-impact__metrics {
  display: flex;
  justify-content: center;
  gap: clamp(16px, 3vw, 32px);
  flex-wrap: wrap;
}

.lead-impact__metric {
  /* background: rgba(255, 255, 255, 0.08); */
  border-radius: 16px;
  padding: 16px 18px;
  min-width: 180px;
  display: flex;
  /* flex-direction: column;   🔥 vertical stack */
  /* align-items: center; */
  align-items: center;
  gap: 12px;
  /* box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2); */
}

.lead-impact__metric strong {
  display: block;
  font-size: 26px;
  color:#FFCC00;
  font-size: 40px;
  font-weight: 622;
  font-family: "sora" !important;
}

.lead-impact__metric p {
  margin: 0;
  opacity: 0.9;
  font-size: 18px;
  line-height: 100%;
  font-weight: 400;
  font-family: "lexend deca" !important;
}

.lead-impact__icon {
  width: 78px;
  height: 78px;
  border-radius: 50%;
  object-fit: contain;
  /* background: #fff; */
  padding: 10px;
  /* box-shadow: 0 15px 30px rgba(0, 0, 0, 0.25); */
}

@media (max-width: 768px) {
  .lead-impact__metrics {
    flex-direction: column;
  }

  .lead-impact__metric {
    width: 100%;
    justify-content: center;
  }

  .lead-impact__metric strong {
    font-size: 22px;
  }
  .lead-impact {
  /* width: 100vw; */
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  padding: 13px 24px;
  display: flex;
  justify-content: center;
  /* background: linear-gradient(180deg, #ede9ff 0%, #f7f2ff 50%, #ede9ff 100%); */
}

.lead-impact__content {
  /* width: 100%;
  max-width: 1300px; */
background: radial-gradient(58.7% 83.24% at 50% 87.66%, #7A2BA3 0%, #4E156B 100%);

  padding: 40px clamp(24px, 4vw, 64px);
  color: #fff;
  /* text-align: center; */
  position: relative;
  width: 100vw; 
  border-radius: 0;
  margin: 139px;
}
}
